@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gilmer";
    src: url("./../fonts/GilmerBold.woff2") format("woff2"), url("./../fonts/GilmerBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilmer";
    src: url("./../fonts/GilmerMedium.woff2") format("woff2"), url("./../fonts/GilmerMedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilmer";
    src: url("./../fonts/GilmerRegular.woff2") format("woff2"), url("./../fonts/GilmerRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "Gilmer", sans-serif;
}